*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Gilroy'; */
}

html, body{
    height: 100%;
    width: 100%;
   
    
}
#main{
    right: 0;
    z-index: 15;
    position: relative;
    background-color: #EFEAE3;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}


#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
}
nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 4%;
    margin-bottom: 100px;
      
}
#nav2{
    display: flex;
    align-items: center;
    gap: 1vw;
    

}
.logo{
    height: 103px;
      
}
    
#nav2 h4{
    border: 1px solid rgb(199, 191, 191);
    border-radius: 50px;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 25px;
    /* font-family:  sans-serif; */
    box-sizing: border-box;
    /* color: rgb(30, 23, 23); */
    position: relative;
    overflow: hidden;
   
    
}
#nav2 h4 a{
    text-decoration: none;
    color:#0b0500; 
   z-index: 9;
   position: relative;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 400;
}
#nav2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    bottom: -100%;
    left: 0;
    border-radius: 50%;
    transition : ease 0.3s;
    
}
#nav2 h4:hover a{
color: white;

}
#nav2 h4:hover::after{
    bottom: 0;
    border-radius: 0%;

}
.center{
    width: 100%;
    height: 77vh;
    background-color: orange;
    display: flex;
    position: relative;
    align-items: flex-end;
    background-color: #EFEAE3;
    border-bottom: 1px solid rgba(0, 0,0, .2);
}
.left{
    
    width: 50%;
    position:relative;
    background-color: #EFEAE3;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: flex-end;
    padding-bottom: 100px;
}
.left h2{
    
    /* position: relative; */
    width: 25vw;
    line-height: 1;
}

.right{
    /* height: 100%; */
    width: 50%;
    background-color: #EFEAE3;
    padding-bottom: 100px;
    font-size: 15vh;
    font-family: 'DM Serif Display', serif;
    line-height: 0.8;
    text-align: right;
}
.osmShape{
    position: absolute;
    width: 40vw;
    height: 36vw;
    background-image: linear-gradient(21deg,#ff9831,#fe330a 80%);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    right: 0;
    top:88vh;
    filter: blur(20px);
    animation: anime1 5s linear 2s infinite alternate ;
}
.osm1{
    position: absolute;
    width: 40vw;
    height: 45vw;
    background-image: linear-gradient(21deg,#ff9831,#fe330a 80%);
    filter: blur(20px);
    border-radius: 999em;
   animation-duration: 5s;
   animation-name: anime;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-timing-function: linear;
   
}
.osm2{
    position: absolute;
    width: 40vw;
    height: 45vw;
    background-image: linear-gradient(21deg,#ff9831,#fe330a 90%);
    filter: blur(20px);
    border-radius: 999em;
   animation-duration: 5s;
   animation-name: anime2;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-timing-function: linear;
}
@keyframes anime1 {
    from{
        width: 40vw;
    }
    to{
        width: 30vw;
    }
}

@keyframes anime {
    from{
        transform: translate(55%, 10%);
    }
    to{
        transform: translate(-22%, -15%);
    }
    
}
@keyframes anime2 {
    from{
        transform: translate(25%, -15%);
    }
    to{
        transform: translate(-20%, 10%);
    }
    
}
.video1{
    padding-top: 100px;
    width: 100%;
    border: 1px;
    position: relative;

}
.video1a{
    width: 100%;
    border-radius: 30px;
}


#page2{
    min-height: 100vh ;
    width: 100%;
    /* background-color: aqua; */
    position: relative;
    margin-top: 6vw;
    right: 0;
    left: 0;
}
#moving_text{
    display: inline-block;
    white-space: nowrap;
    display: flex;
   
    width: 100%;
    overflow-x: scroll;
   
}
#moving_text::-webkit-scrollbar{
    display: none;
}
.con{
    display: inline-block;
    white-space: nowrap;
    display: flex;
    animation-name: movingText;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
    /* background-color: rgb(78, 186, 186); */


}
.circle{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: red;
    align-self: center;
    margin: 2vw;
}
.con h1{
    font-size: 9vw;
    display: inline-block;
    /* background-color: aquamarine; */
}

@keyframes movingText {

    from{
        transform: translate(0);
    }
    to {
        transform: translate(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page2-bottom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#bottom-part2 {
    width: 20%;
    /* background-color: aqua; */
}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1vw;
}

#page2 #gooey {
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    /* background: linear-gradient(to top right,red,blue); */


    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes gooey {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}




#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}

.elem {
    height: 150px;
    width: 100%;
    position: relative;

    border-bottom: 1px solid #38383864;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
}

.elem:hover .overlay {
    top: 0;
}



#fixed-image {
    height: 30vw;
    width: 24vw;
    background-color: red;
    border-radius: 15px;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}

#page4 {
    height: 80vh;
    width: 100%;
    background-color: #EFEAE3;
    padding-top: 5vw;
    padding-bottom: 10vw;
    
}

.swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 10vh;
    
}

.swiper-slide {
    width: 30%;
    border-left: 1px solid #aeadad;
    padding: 0 2vw;
    /* background-color: red; */
}
.swiper-slide img{
    height: 5vw;
}
.swiper-slide p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 23px;
    width: 80%;
}

#page5 {
    height: 100vh;
    width: 100%;
    /* background-color: #EFEAE3; */
}
.info{
    display: flex;
    margin-bottom: 100px;
    padding-left: 4vw;
}
.reddot{
    margin-top: 5px;
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
}
.info p{
    margin-left: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 22px;

}

#footer {
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    
}

#footer h1 {
    font-size: 21.5vw;
    color: #EFEAE3;
    padding: 1vw 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#footer h2{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    position: fixed;
    z-index: 13;
    top: 14%;
    left: 6%;
}
#footer p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 33px;
    position: fixed;
    z-index: 13;
    top: 14%;
    right: 10%;
    font-weight: 200;
    /* width: 10vw; */
}
.email{
    width: 15vw;
    height: 2vw;
    z-index: 13;
    color: white;
    position: fixed;
    top: 22%;
    right: 15%;
    opacity: 50%;
    /* background-color: red; */
   border-bottom: 1px solid white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3vw;
    justify-content: space-between;
    display: flex;
}
.emaildiv{
    padding-bottom: 10px;
}



#footer-div {
    height: 25vh;
    width: 100%;
    /* background-color: red; */
    background-image: linear-gradient(to top, red, rgb(204, 124, 39));
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    filter: blur(50px);
    
    
}
#footer-div1{
    height: 50vh;
    width: 70%;
    /* background-color: red; */
    background-image: linear-gradient(to top, red, rgb(204, 124, 39));
    filter: blur(70px);
    position: fixed;
    z-index: 11;
    top: -10%;
    left: -10%;
    animation-name: foot;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    
}
#footer-div2{
    height: 50vh;
    width: 70%;
    /* background-color: red; */
    background-image: linear-gradient(to top, red, rgb(204, 124, 39));
    filter: blur(70px);
    position: fixed;
    z-index: 11;
    top: 0%;
    right: -10%;
    animation-name: foot1;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-delay: 2s;
    
}
@keyframes foot {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-30deg);
    }
    
}
@keyframes foot1 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(30deg);
    }
    
}



#footer-bottom {
    border-top: 0.5px solid #493e3e;
    height: 10vh;
    width: 100%;
    text-align: center;
    padding-top: 30px;

}
.contact{
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
    justify-content: space-between;
    margin-right: 8vw;
    margin-left: 8vw;
    
}

#full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}

#full-div1 {
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.arrow{
    height: 70px;
    width: 270px;
    border-radius: 40px;
    border: 1px solid rgb(142, 138, 138);
    opacity: 80%;
    align-content: center;
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    padding-top: 17px;
    color: black;

}
#page6{
    background-color: black;
    height: 105vh;
    width: 94%;
    border-radius: 40px;
    margin: 60px;
    position: relative;
    display: flex;
}
#left-part{
    height: 100%;
    background-color: black;
    width: 45%;
    position: relative;
    border-radius: 40px;

}
.design{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vw;
    color: #EFEAE3;
    position: relative;
    left: 30%;
    top: 20%;
    border-left: 3px solid red;
    padding-left: 20px;
}
.projectExecution{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vw;
    color: rgb(64, 60, 60);
    left: 30%;
    top: 20%;
    position: relative;
    border-left: 3px solid rgb(67, 62, 62);
    padding-left: 20px;
    
}
#left-part p{
    color: #EFEAE3;;
    position: relative;
    width: 20vw;
    top: 25%;
    left: 30%;
    font-size: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#right-part{
    height: 100%;
    width: 55%;
    background-image: url('https://assets-global.website-files.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15e1_Project-p-1080.jpg');
    background-size: cover;
    position: relative;
    border-radius: 40px;
}




@media (max-width:600px) {

    #page1 {
        min-height: 100vh;
        width: 100vw;
        padding: 0 0vw;
    }

    nav {
        padding: 8vw 5vw;
        background-color: #EFEAE3;
        /* padding: 0 5vw; */
    }

    nav img {
        transition: all ease 0.2s;
        height: 9vh;
    }

    #nav-part2 {
        display: none;
    }

    nav h3 {
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }

    #center {
        height: 62vh;
        width: 100%;
        /* background-color: orange; */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }

    #left h3 {
        width: 80%;
        font-size: 5.5vw;
        line-height: 6vw;
    }

    #center h1 {
        font-size: 17vw;
        text-align: right;
        line-height: 15vw;
    }

    #page1 video {
        position: relative;
        border-radius: 15px;
        margin-top: 4vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        width: 92%;
        margin-left: 4%;
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 0;
        position: relative;
    }

    #moving-text {
        overflow-x: auto;
        white-space: nowrap;
    }


    #moving-text::-webkit-scrollbar {
        display: none;
    }

    .con {
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    #moving-text h1 {
        font-size: 15vw;
        /* background-color: lightblue; */
        display: inline-block;
    }

    #gola {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        background-color: #FE320A;
        margin: 2vw 2vw;
    }

    #page2-bottom {
        height: 90vh;
        width: 100%;
        /* background-color: aliceblue; */
        padding: 10vw 4vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        z-index: 9;
    }

    #page2-bottom h1 {
        font-size: 8.2vw;
        width: 100%;
        line-height: 9vw;
    }

    #bottom-part2 {
        width: 70%;
        /* background-color: aqua; */
    }

    #bottom-part2 img {
        width: 100%;
        border-radius: 10px;
    }

    #bottom-part2 p {
        font-weight: 200;
        margin-top: 2vw;
        font-size: 3vw;
    }

    #page2 #gooey {
        height: 62vw;
        width: 62vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right, #ff2d03, #ff5c0b);
        /* background: linear-gradient(to top right,red,blue); */


        top: 58%;
        left: 25%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;

    }


}

#loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 4vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;
      
    }
}

